
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <h3>@ViewBag.TotalCustomers</h3>
    <p>Tổng số khách hàng</p>
    </div>
    <div class="stat">
        <h3>@ViewBag.TotalProducts</h3>
        <p>Tổng Số Sản Phẩm</p>
    </div>
    <div class="stat">
        <h3>@ViewBag.TotalDonHang</h3>
        <p>Tổng Dơn Hàng</p>
    </div>
</head>
<body>
    <div> 
    </div>
</body>
</html>
